html {
    height: 98vh;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 13rem;
    min-height: 100%;
    background-color: #1f2d38 !important;
  }